---
title: Index.html
layout: default
titlepart1: Val
titlepart2: Auto
---
        <!-- carousel Start -->
        {% include carousel.html %}
        <!-- carousel End -->
        
        <!-- Service Start -->
        {% include about.html %}
        <!-- Service End -->

        <!-- Service Start -->
        {% include service.html %}
        <!-- Service End -->
        
        <!-- Service Start -->
        {% include price.html %}
        <!-- Service End -->
        
        <!-- Blog Start -->
        {% include blog.html %}
        <!-- Blog End -->

        <!-- Contact Start -->
        {% include contact.html %}
        <!-- Contact End -->
