<!-- About Start -->
<section id="about" class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="assets/img/about.jpg" alt="Image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-header text-left">
                    <p>Val Auto c'est </p>
                    <h2>Un centre de Nettoyage auto/moto</h2>
                </div>
                <div class="about-content">
                    <p>
                        Depuis 2020, Valentin a ouvert son centre de nettoyage auto/moto à Outreau sur le Boulevard de la liberté.<br>
                        Il est devenu une référence sur l'entretien de vos véhicules dans le secteur du Boulonnais.<br>
                        Disponible, engagé et efficace, Valentin vous propose une gamme complète de services de nettoyage intérieur et extérieur
                        adaptés aux besoins spécifiques de votre voiture.<br>
                        <br>
                        N'hésitez pas à nous contacter au {{site.data.base.telephone}}.
                    </p>
                    <ul>
                        <li><i class="far fa-check-circle"></i>Nettoyage extérieur</li>
                        <li><i class="far fa-check-circle"></i>Nettoyage intérieur</li>
                        <li><i class="far fa-check-circle"></i>Nettoyage des siéges</li>
                        <li><i class="far fa-check-circle"></i>Traitement des micro-rayures</li>
                        <li><i class="far fa-check-circle"></i>Lustrage</li>
                        <li><i class="far fa-check-circle"></i>Dégoudronnage</li>
                        <li><i class="far fa-check-circle"></i>Rénovation des phares</li>
                    </ul>
                    <p>Régulièrement nous étoffons notre activité de nouveaux services.<br>
                       Consultez notre page <a href="{{ site.data.base.linkfacebook }}" target="_blank">facebook</a>.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About End -->