<!-- Carousel Start -->
<section id="home" class="carousel">
    <div class="container-fluid">
        <div class="owl-carousel">
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="assets/img/carousel-1.jpg" alt="Image" loading="lazy">
                </div>
                <div class="carousel-text">
                    <h1>Garder votre véhicule dans un état impeccable.</h1>
                    <h3>Les services de nettoyage de {{ site.data.base.title }}</h3>   
                    <p>
                        
                    </p>
                    <a class="btn btn-custom" href="#service">Plus de détails...</a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="assets/img/carousel-2.jpg" alt="Image" loading="lazy">
                </div>
                <div class="carousel-text">
                    <h1>La qualité et le sérieux à votre service</h1>
                    <h3>Les services de nettoyage de {{ site.data.base.title }}</h3>
                    <p>
                        
                    </p>
                    <a class="btn btn-custom" href="#service">Plus de détails...</a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="assets/img/carousel-3.jpg" alt="Image" loading="lazy">
                </div>
                <div class="carousel-text">
                    <h1>Une Gamme de services adaptée à vos attentes</h1>
                    <h3>Les services de nettoyage de {{ site.data.base.title }}</h3>
                    <p>
                        
                    </p>
                    <a aria-label="more details" class="btn btn-custom" href="#service">Plus de détails...</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Carousel End -->