<!-- Contact Start -->
<section id="contact"  class="contact">
    <div class="container">
        <div class="section-header text-center">
            <p>Notre centre de lavage</p>
            <h2>Venir au centre ou nous Contactez</h2>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="contact-info">
                    <h2>Prendre rendez-vous : </h2>
                    <div class="contact-info-item">
                        <div class="contact-info-icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="contact-info-text">
                            <h3>Directement sur place</h3>
                            <p>au {{ site.data.base.adresse }} à {{ site.data.base.ville }}</p>
                        </div>
                    </div>
                    <div class="contact-info-item">
                        <div class="contact-info-icon">
                            <i class="fas fa-clock"></i>
                        </div>
                        <div class="contact-info-text">
                            <h3>Les horaires</h3>
                            <p>lundi au vendredi, 8:00 - 12:00 / 13:00 - 18:00</p>
                            <p>samedi, 8:00 - 12:00 </p>
                        </div>
                    </div>
                    <div class="contact-info-item">
                        <div class="contact-info-icon">
                            <i class="fas fa-phone-alt"></i>
                        </div>
                        <div class="contact-info-text">
                            <h3>Ou par Téléphone </h3>
                            <p>{{ site.data.base.telephone }}</p>
                        </div>
                    </div>

                    <div class="contact-info-item">
                        <div class="contact-info-icon">
                            <i class="fab fa-facebook-f"></i>
                        </div>
                        <div class="contact-info-text">
                            <h3>Ou par message privé sur Facebook</h3>
                            <p> <a class="btn" href="{{ site.data.base.linkfacebook }}" target="_blank"></i>Valentin ValAuto</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <h2>Notre centre en images</h2>
                <div class="carousel">
                    <div class="container-fluid">
                        <div class="owl-carousel">
                            <div class="carouselmini-item">
                                <div class="carouselmini-img">
                                    <img src="assets/img/GarageValAuto1.jpg" alt="Garage ValAuto" loading="lazy">
                                </div>
                            </div>
                            <div class="carouselmini-item">
                                <div class="carouselmini-img">
                                    <img src="assets/img/GarageValAuto2.jpg" alt="Garage ValAuto" loading="lazy">
                                </div>
                            </div>
                            <div class="carouselmini-item">
                                <div class="carouselmini-img">
                                    <img src="assets/img/GarageValAuto3.jpg" alt="Garage ValAuto" loading="lazy">
                                </div>
                            </div>
                            <div class="carouselmini-item">
                                <div class="carouselmini-img">
                                    <img src="assets/img/GarageValAuto4.jpg" alt="Garage ValAuto" loading="lazy">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <iframe title="googlemapsiframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2526.3920615748516!2d1.587080685345092!3d50.712665198528065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47dc2c63b353aaab%3A0x81a4994aa1038eaf!2s64%20Bd%20de%20la%20Libert%C3%A9%2C%2062230%20Outreau%2C%20France!5e0!3m2!1sen!2sbd!4v1724532333252!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>
<!-- Contact End -->
