
<!-- Nav Bar Start -->
<div class="nav-bar">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <a href="#" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" aria-label="NavBarButton" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    <a href="{{ site.url}}/#home" class="nav-item nav-link active">Acceuil</a>
                    <a href="{{ site.url}}/#about" class="nav-item nav-link">{{ site.data.base.title}}</a>
                    <a href="{{ site.url}}/#service" class="nav-item nav-link">Les Services</a>
                    <a href="{{ site.url}}/#price" class="nav-item nav-link">Les Tarifs</a>
                    <a href="{{ site.url}}/#blog" class="nav-item nav-link">Le blog</a>
                    <a href="{{ site.url}}/#contact" class="nav-item nav-link">Me contacter</a>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Nav Bar End -->