<section id="new" class="team">
    <div class="container">
        <div class="section-header text-center">
            <p>Les nouveaux services</p>
            <h2>Les news</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3Dpfbid02qTqsD1KUAsgyWzFpCFYZLugdN4mJCZoNGyLkqdaYsYvXFjM5xfAA1aeM8WpGkqg7l%26id%3D100065232441879&show_text=true&width=500" width="500" height="562" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>                    </div>
                    <div class="team-text">
                        <h2>Un exemple de rénovation de phares ! </h2>
                        <p>
                            Le r"édultat est saisissant ! N'hésitez pas à passer chez Valauto, vous ne serez pas déçu du résultat.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <iframe title="pharefaceBookiframe" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3Dpfbid0afLApuqc8zCFEURe2SqK4x6NRL3zZx3z7pvAQ5z1BwTTXoCLsh3fGY1yVhwqQkvLl%26id%3D100065232441879&show_text=true&width=500" width="500" height="758" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    </div>
                    <div class="team-text">
                        <h2>Rénovation de Phares </h2>
                        <p>
                            Depuis août 2024, nous proposons la rénovation des phares jaunis ou ternis :<br>
                                <strong>35 €</strong> pour 1 phare.<br>
                                <strong>70 €</strong> pour les 2 phares.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <iframe title="fordfaceBookiframe" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3Dpfbid02vrB7tNa2UVsnKBt2hmPVwK5upUX7FUdUcKUWojv2ve8nMYzEUJe5i4aE1ugxFgJrl%26id%3D100065232441879&show_text=true&width=500" width="500" height="615" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    </div>  
                    <div class="team-text">  
                        <h2>Ford Mustang Cabriolet</h2>
                        <p>
                            Nous réalisons aussi le nettoyage de voiture d'exception !
                        </p>
                    </div>
                </div>
            </div>
 <!--           <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <iframe title="avisfaceBookiframe" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3Dpfbid0kwqfkXgKmegqrV4pNTwnLkERjVLmRJJeuCJeRXu7iWdKsrTNCFshWhdi9GFsuw4al%26id%3D100065232441879&show_text=true&width=500" width="500" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    </div>  
                    <div class="team-text">  
                        <h2>Votre avis compte pour nous ! </h2>
                        <p>
                            Vous pouvez nous laisser vos avis sur notre facebook sur nos posts!<br>
                            Nous vous en remercions par avance.
                        </p>
                    </div>
                </div>
            </div> -->    
        </div>
    </div>
</section>
<!-- Team End -->