<!-- Price Start -->
<section id="price" class="price">
    <div class="container">
        <div class="section-header text-center">
            <p>Nos Tarifs</p>
            <!--h2>Vos Choix </h2-->
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="price-item">                    
                    <div class="price-header">
                        <h3>Basic extérieur</h3>
                        <h2><strong>30</strong><span>€ TTC</span></h2>
                    </div>
                    <div class="price-body">
                        <ul>
                            <li><i class="fas fa-angle-right"></i><strong>Nettoyage extérieur</strong></li>
                            <li>Lavage</li>
                            <li>Séchage</li>
                            <li>Nettoyage jantes</li>
                            <li>Brillance pneus</li>
                            <li>Contours du coffre</li>
                            <li>Trappe à essence</li>
                            <li>Contours de porte</li>
                            <li>Plastiques extérieurs</li>
                            <br>                
                            <li><i class="fas fa-angle-right"></i><strong>Suppléments</strong></li>
                            <li><strong>+10€ TTC</strong> pour les 4x4, Monospace et break.</li>
                            <li><strong>+10€ TTC</strong> pour la pose d'une cire extérieur.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="price-item">
                    <div class="price-header">
                        <h3>Basic intérieur</h3>
                        <h2><strong>40</strong><span>€ TTC</span></h2>
                    </div>
                    <div class="price-body">
                        <ul>
                            <li><i class="fas fa-angle-right"></i><strong>Nettoyage intérieur</strong></li>
                            <li>Aspiration (siège, coffre, tapis)</li>
                            <li>Nettoyage vitres intérieures</li>
                            <li>Désinfection du véhicule</li>
                            <li>Nettoyage plastiques</li>
                            <li><i class="fas fa-angle-right" ></i><strong>Suppléments</strong></li>
                            <li><strong>+10€ TTC</strong> pour les 4x4, Monospace et break.</li>
                            <li><strong>+10€ TTC</strong> pour poils de chien.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="price-item">
                    
                    <div class="price-header">
                        
                        <h3>Forfait N° 1</h3>
                        <h2><strong>70</strong><span>€ TTC</span></h2>
                        <p>selon l'état du véhicule</p>
                    </div>
                    <div class="price-body">
                        <ul>
                            <li><i class="fas fa-angle-right"></i><strong>Nettoyage intérieur</strong></li>
                            <li>Aspiration (siège, coffre, tapis)</li>
                            <li>Nettoyage vitres intérieures</li>
                            <li>Désinfection du véhicule</li>
                            <li>Nettoyage plastiques</li>
                            <li><i class="fas fa-angle-right"></i><strong>Nettoyage extérieur</strong></li>
                            <li>Lavage</li>
                            <li>Séchage</li>
                            <li>Nettoyage jantes</li>
                            <li>Brillance pneus</li>
                            <li>Contours du coffre</li>
                            <li>Trappe à essence</li>
                            <li>Contours de porte</li>
                            <li>Plastiques extérieurs</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="price-item featured-item">
                    <div class="price-header">
                        <h3>Forfait N° 2</h3>
                        <h2><strong>90</strong><span>€ TTC</span></h2>
                        <p>selon l'état du véhicule</p>
                        <div class="banner">le plus populaire</div>
                    </div>
                    <div class="price-body">
                        <ul>
                            <li><i class="fas fa-angle-right"></i><strong>Nettoyage intérieur</strong></li>
                            <li>Aspiration (siège, coffre, tapis)</li>
                            <li>Nettoyage vitres intérieures</li>
                            <li>Désinfection du véhicule</li>
                            <li>Nettoyage plastiques</li>
                            <li><i class="fas fa-angle-right"></i><strong>Nettoyage des sièges</strong></li>
                            <li><i class="fas fa-angle-right"></i><strong>Nettoyage extérieur</strong></li>
                            <li>Lavage</li>
                            <li>Séchage</li>
                            <li>Nettoyage jantes</li>
                            <li>Brillance pneus</li>
                            <li>Contours du coffre</li>
                            <li>Trappe à essence</li>
                            <li>Contours de porte</li>
                            <li>Plastiques extérieurs</li>   
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Price End -->