<!-- Service Start -->
<section id="service" class="service">
    <div class="container">
        <div class="section-header text-center">
            <p>Les Services de basess</p>
            <h2></h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-car-service-1"></i>
                    <h3>Nettoyage extérieur</h3>
                    <p>Redonner à votre véhicule son éclat d'origine.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-car-wash"></i>
                    <h3>Nettoyage intérieur</h3>
                    <p>Assainir l'habitacle de votre voiture et supprimer les mauvaises odeurs.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-vacuum-cleaner"></i>
                    <h3>Aspiration intérieur</h3>
                    <p>Élimination de la poussière, des miettes et des débris présents dans l'habitacle, le coffre et le plancher.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-seat"></i>
                    <h3>Nettoyage des sièges</h3>
                    <p>Nettoyage en profondeur des sièges (tissu ou cuir) à l'aide de produits adaptés pour éliminer les taches et les salissures.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-car-service"></i>
                    <h3>Nettoyage des vitres</h3>
                    <p>Nettoyage intérieur et extérieur des vitres pour une visibilité parfaite.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-car-service-3"></i>
                    <h3>shampouinage</h3>
                    <p>Nettoyage complet des moquettes et des tapis de sol à l'aide d'un extracteur pour éliminer les taches profondes et les mauvaises odeurs.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-car-service-2"></i>
                    <h3>Rénovation des phares</h3>
                    <p>Redonne de la transparence aux phares jaunis ou ternis pour améliorer la visibilité nocturne.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-brush-1"></i>
                    <h3>Rénovation des plastiques</h3>
                    <p>Restaure l'aspect neuf des plastiques intérieurs et extérieurs, en les protégeant des UV et des agressions extérieures.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service End -->
