<!-- Top Bar Start -->
<div class="top-bar">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-12">
                <div class="logo">
                    <a aria-label="Accueil" href="{{ site.url }}/index.html">
                        <h1>{{ site.data.base.titlepart1 }}<span>{{ site.data.base.titlepart2 }}</span></h1>
                        <!-- <img src="assets/img/logo.jpg" alt="Logo"> -->
                    </a>
                </div>
            </div>
            <div class="col-lg-8 col-md-7 d-none d-lg-block">
                <div class="row">
                    <div class="col-6">
                        <div class="top-bar-item">
                            <div class="top-bar-icon">
                                <i class="far fa-clock"></i>
                            </div>
                            <div class="top-bar-text">
                                <h3>Les horaires</h3>
                                <p>Lun. au Ven. 08:00 à 12:00-13:00 à 18:00 et
                                Sam. 08:00 à 13:00</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="top-bar-item">
                            <div class="top-bar-icon">
                                <i class="fa fa-phone-alt"></i>
                            </div>
                            <div class="top-bar-text">
                                <h3>Nous contacter</h3>
                                <p>{{ site.data.base.telephone }}</p>
                            </div>
                        </div>
                    </div>
                    <!--div class="col-4">
                        <div class="top-bar-item">
                            <div class="top-bar-icon">
                                <i class="far fa-envelope"></i>
                            </div>
                            <div class="top-bar-text">
                                <h3>Ecrivez-nous</h3>
                                <p>{{ site.data.base.email }}</p>
                            </div>
                        </div>
                    </div-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar End -->